@import url('https://fonts.googleapis.com/css2?family=Fascinate & family=Hachi+Maru+Pop &display=swap');


/*
====================
Home Page
====================
*/

.index{
  background-image: url(../Images/bg.jpg) ;
  background-repeat: no-repeat;
}
.home-content{
  box-sizing: border-box;
  height: 460px;
  width: 460px;
  margin-left: 560px;
  margin-top: 130px;    /* ERROR!!!!!! */
  border-radius: 24rem;
}
.home-content h2, .home-content .text{
  font-size: 70px;
  text-shadow: 2px 2px #412e2e;
  color: rgb(19, 18, 18);
}

.home-content h2{
  padding-top: 130px;
  padding-left: 140px;
  font-family: 'Fascinate', cursive;
}

.home-content .text{
  padding-left: 70px;
  font-family: 'Hachi Maru Pop', cursive;  
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .home-content {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color:  rgba(77, 73, 73, 0.5);  
  }
}

/* Mobile View */
@media screen and (max-width: 650px) {
  .index{
    background-image: url(../Images/bg1.jpg) ;
    background-repeat: repeat-y;
  }
  .home-content{
    height: 280px;
    width: 280px;
    margin-left: 35px;
    margin-top: 85px;      /* ERROR!!!!!! */
    border-radius: 24rem;   
  }
  .home-content h2, .home-content .text{
    font-size: 43px;
    text-shadow: 2px 2px #412e2e;
  }
  .home-content h2{
    padding-top: 80px;
    padding-left: 100px;
  }
  .home-content .text{
    padding-left: 43px;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .home-content {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(77, 73, 73, 0.5);  
   }
  }
}



/*
====================
Books
====================
*/

.searchbook {
  padding-left:1210px;
}

.srch, .searchbook .btnn{
  border-radius: 00.38rem;
}

.srch{
  display: inline-block;
  float: left;
  height: 40px;
  border: 0;
  width:220px;
  margin-left: 0px;
	padding-left: 12px;
	background-color: rgb(187, 201, 245);
  transition: background-color .3s;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
	font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

.srch:focus, .srch:hover {
  background-color:rgb(145, 168, 245);
}
.searchbook  .btnn{	
  border: 0;
  display: inline-block;
	background-color: rgb(52, 85, 192);
	height: 40px;
	width:40px;
	text-align: center;
	margin-right: 0px;
  font-size:17px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;	
}

.searchbook  .btnn:focus, searchbook  .btnn:hover {
  background-color:rgb(38, 66, 158);
}

/* Mobile View */
@media screen and (max-width: 650px) {
  .searchbook {
    padding-left: 42px;
  }
  .srch{
    height: 38px;
    width:235px;
    margin-left: 0px;
	  padding-left: 12px;
    font-size:16px;
  }
  .searchbook  .btnn{	
  	height: 38px;
  	width:38px;
    font-size:17px;	
  }
}
      
