@import url('https://fonts.googleapis.com/css2?family=Fascinate & family=Hachi+Maru+Pop &display=swap');

/*
====================
Home Page
====================
*/

.Afterlogin {
  background-color: rgb(0, 0, 0);
  background-size: cover;
}
.home-content {
  background-image: url(../Images/bg.jpg);
  background-size: cover;
  height: 660px;
  width: 1535px; 
}

/* Mobile View */
@media screen and (max-width: 650px) {
  .Afterlogin {
    background-image: url(../Images/bg1.jpg);
    background-repeat: repeat-y;
    background-color: #211a1a;
  }
}


/*
====================
Book Details
====================
*/
.book-details .wrapper {
  /* padding-bottom: 50px; */
  margin: 0px 45px 50px 45px;
}

.book-details .page-header h2 {
  margin-top: 0;
}

.book-details tbody tr:hover {
  background-color: #c9ced3;
}

.book-details table tr td:last-child a {
  margin-right: 15px;
}

.book-details thead {
  font-size: 17px;
}

.book-details table {
  font-size: 15px;
}

/*
====================
Add Books
====================
*/
.add-books .wrapper {
  width: 500px;
  margin: 0 auto;
}

/*
====================
View Book Details
====================
*/
.view-book .wrapper {
  width: 500px;
  margin: 0 auto;
}

/*
====================
Update Book Details
====================
*/
.update-book .wrapper {
  width: 500px;
  margin: 0 auto;
}

/*
====================
Delete Book
====================
*/
.delete-book .wrapper {
  width: 500px;
  margin: 0 auto;
}

/*
====================
Error Message
====================
*/
.error-message .wrapper {
  width: 750px;
  margin: 0 auto;
}
